header.banner {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background: #fff;
  margin-bottom: 32px;
  height: 80px;
  box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.2);
}

nav.nav-primary {
  float: right;
}

.banner .container {
  height: 100%;
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.wrap.container {
  padding-top: 120px;
  min-height: 548px;
}

a.brand {
  font-size: 32px;
  letter-spacing: -1px;
  top: 14px;
  position: relative;
}

a.brand:hover {
  text-decoration: none;
}

#menu-top-menu a {
  padding: 25px !important;
}
