.home-thumbnail-caption p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

.home-meta-programme {
  font-size: 14px;
  margin-top: 10px;
}

.home-section {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding: 50px 0;
}

.home-section-title {
  font-size: 2em;
  margin: 0 0 14px;
}

.home-section-title-rule {
  border-bottom: 7px solid #000;
  width: 30%;
  margin: -8px 0 32px;
}

/* unvisited link */
a.home-grid-title {
  font-size: 15px;
}

a.home-grid-title:link {
  color: #333;
}

.home-featured-h1 {
  margin-top: -9px;
  font-size: 2em;
  font-weight: 900;
  line-height: 45px;
  padding-right: 50px;
}

.home-featured-h1 a {
  line-height: 45px;
}

/* visited link */
a.home-grid-title:visited,
.home-featured-h1 a:visited {
  color: $link-visited-color;
}

/* mouse over link */
a.home-grid-title:hover,
.home-featured-h1 a:hover {
  color: $primary-color;
}

.home-keyword-list {
  line-height: 1.8em;
  font-size: 18px;
}

@media (max-width: 991px) {
  .home-featured-h1 {
    margin-top: 32px;
  }
}
