.home-thumbnail-caption p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

.home-meta-programme {
  font-size: 14px;
  margin-top: 10px;
}

.home-featured-h1 {
  margin-top: -12px;
  font-size: 2em;
  font-weight: 900;
  line-height: 1.2em;
  padding-right: 50px;
}
