.home-thumbnail-caption p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

.home-meta-programme {
  font-size: 14px;
  margin-top: 10px;
}

.home-section {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding: 50px 0;
}

.home-section-title {
  font-size: 2em;
  margin: 0 0 14px;
}

.home-section-title-rule {
  border-bottom: 7px solid #000;
  width: 30%;
  margin: -8px 0 32px;
}

#home-section-about {
  width: 100%;
  padding: 100px 0;
  background: url("../images/abstract.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-grid-single {
  margin-bottom: 60px;
}

#home-about-text {
  font-size: 20px;
  line-height: 36px;
}

/* unvisited link */
a.home-grid-title {
  font-size: 16px;
}

a.home-grid-title:link,
.home-featured-h1 a:link {
  color: #333;
}

.home-featured-h1 {
  width: 70%;
  line-height: 38px;
}

p#home-keywords-list {
  line-height: 2em;
}

.home-featured-h1 a {
  font-size: 24px;
  font-family: Merriweather, serif;
  font-weight: 500;
}

/* visited link */
a.home-grid-title:visited,
.home-featured-h1 a:visited {
  color: $link-visited-color;
}

/* mouse over link */
a.home-grid-title:hover,
.home-featured-h1 a:hover {
  color: $primary-color;
}

.home-keyword-list {
  line-height: 1.8em;
  font-size: 18px;
}

.home-article-grid__caption {
  padding: 8px;
}

.home-article-grid__caption p {
  margin-bottom: 6px;
}

.home-article-grid__thumbnail {
  transition: box-shadow 0.3s;
}

.home-article-grid__thumbnail:hover {
  box-shadow: 0 0 6px #ccc;
  transition: box-shadow 0.3s;
}

@media (max-width: 991px) {
  .home-featured-h1 {
    margin-top: 32px;
  }
}
