.back-issue-desc__img {
  margin-bottom: 20px;
}

.back-issue-desc__h5 {
  margin-top: 0;
  font-size: 14px;
  font-weight: 700;
}

.back-issue-desc p {
  margin-bottom: 0;
  line-height: 1;
}

.back-issue-link__a,
.back-issue-link__a:link {
  color: $muted-color;
}
