.article-meta-date * {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: #333;
}

.type-article header {
  text-align: center;
}

/*
.type-article .entry-content {
  margin: 0 auto;
  max-width: 760px;
}
*/

.type-article .entry-content li::before {
  font-family: 'FontAwesome';
  content: '\f054';
  margin: 0 15px 0 -23px;
  color: $primary-color;
  font-size: 11px;
  position: relative;
  top: -2px;
}

.type-article .entry-content ul {
  list-style: none;
}

.type-article .entry-content p {
  font-size: 1em;
  line-height: 1.5em;
}

.single-abstract-first-words {
  font-weight: 900;
  font-family: Merriweather;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
}

h1#sb-entry-title {
  font-family: Merriweather, serif;
  font-size: 26px;
  line-height: 1.7em;
  max-width: 600px;
  margin: 0 auto 40px;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0;
}

.index-entry-title {
  font-size: 24px;
  line-height: 1.5em;
}

p.byline {
  max-width: 500px;
  text-align: center;
  margin: 10px auto 40px;
}

.article-feature-image {
  margin-bottom: 42px;
}

.article-feature-image > div.image-wrap {
  display: inline-block;
  text-align: left;
}

.article-feature-image-caption {
  font-size: 12px;
  color: #ccc;
}

.project-ref a,
.project-ref a:active,
.project-ref a:link,
.project-ref a:hover,
.project-ref a:visited {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

.index-entry-title a {
  font-size: 32px;
  line-height: 1.5em;
}

h3.sb-aside-h3 {
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 2px solid #ddd;
}
