.type-article header {
  text-align: center;
}

.type-article .entry-content {
  margin: 0 auto;
  max-width: 760px;
}

.type-article .entry-content li::before {
  font-family: 'FontAwesome';
  content: '\f054';
  margin: 0 15px 0 -23px;
  color: $primary-color;
  font-size: 11px;
  position: relative;
  top: -2px;
}

.type-article .entry-content ul {
  list-style: none;
}

.single-abstract-first-words {
  font-weight: 900;
  font-family: Merriweather;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
}

h1.entry-title {
  font-family: Merriweather, serif;
  font-size: 24px;
  line-height: 1.7em;
  max-width: 600px;
  margin: 0 auto 40px;
}

.index-entry-title {
  font-size: 24px;
  line-height: 1.5em;
}

p.byline {
  max-width: 500px;
  text-align: center;
  margin: 10px auto 40px;
}

.sb-article-feature-img {
  margin-bottom: 22px;
}

.project-ref a,
.project-ref a:active,
.project-ref a:link,
.project-ref a:hover,
.project-ref a:visited {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #aaa;
  font-size: 14px;
  text-decoration: none;
}

.index-entry-title a {
  font-size: 32px;
  line-height: 1.5em;
}

.index-divider {
  text-align: center;
  border-bottom: 1px solid #ccc;
  width: 50%;
  margin: 0 auto 50px;
}

.index-divider i {
  top: 16px;
  position: relative;
  color: #999;
}
