#article-aside-wrap {
  position: sticky;
  top: 120px;
}

h3.sb-aside-h3 {
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  border-bottom: 2px solid #ddd;
}

h3.sb-aside-h3:first-child {
  margin-top: 0;
}

.sb-toc {
  list-style: none;
  padding: 0;
  margin-bottom: 2em;
}

.type-article li {
  margin-left: 0;
}

.article-aside-doi a {
  word-wrap: break-word;
  font-size: 12px;
}

#article-aside-wrap a {
  font-size: 14px;
}

/* unvisited link */
.sb-toc-item-a,
#sb-article-aside a,
#article-aside-wrap .keywords_list a {
  color: #333;
}

#sb-article-aside a:link {
  color: #333;
}

/* mouse over link */
.sb-toc-item-a:hover,
#sb-article-aside a:hover,
#article-aside-wrap .keywords_list a:hover {
  color: $primary-color;
  text-decoration: none;
}

.sb-toc-item-a:link,
#article-aside-wrap .keywords_list a:link {
  color: #333;
}

li.sb-toc-item {
  border-bottom: 1px dotted #ccc;
  padding: 5px 0;
}

.article-citation {
  font-size: 12px;
  line-height: 18px;
}
