#article-aside-wrap {
  position: sticky;
  top: 120px;
}

h3.sb-aside-h3 {
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  border-bottom: 2px solid #ddd;
}

h3.sb-aside-h3:first-child {
  margin-top: 0;
}

.sb-toc {
  list-style: none;
  padding: 0;
  margin-bottom: 1em;
}

.type-article li {
  margin-left: 0;
}

.article-aside-doi a {
  word-wrap: break-word;
  font-size: 13px;
}

.cited-by-btn {
  padding: 0;
  font-size: 14px;
}

.cited-by-btn:focus {
  outline: none;
}

#article-aside-wrap a {
  font-size: 14px;
}

/* unvisited link */
.sb-toc-item-a,
#sb-article-aside a,
#article-aside-wrap .keywords_list a {
  color: #333;
}

#sb-article-aside a:link {
  color: #333;
}

/* mouse over link */
.sb-toc-item-a:hover,
#sb-article-aside a:hover,
#article-aside-wrap .keywords_list a:hover {
  color: $primary-color;
  text-decoration: none;
}

.sb-toc-item-a:link,
#article-aside-wrap .keywords_list a:link {
  color: #333;
}

li.sb-toc-item {
  border-bottom: 1px dotted #ccc;
  padding: 5px 0;
}

.article-citation {
  font-size: 12px;
  line-height: 18px;
}

.article-get-pdf-h3 {
  font-size: 18px;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-top: -10px;
  text-align: center;
  width: 100%;
}

a#article-get-pdf-link,
a#article-get-pdf-link:link {
  font-size: 18px;
  text-transform: none;
}

a#article-get-pdf-link:hover {
  color: #333;
}

a#article-get-pdf-link:hover > h3 {
  background-color: #f0f0f0;
  animation-duration: $speed-fast;
}

.article-get-pdf-h3 > .fa-file-pdf-o {
  margin-right: 10px;
}

.altmetric-embed {
  margin-top: 12px;
}

.plumx-embed__wrap {
  margin: 4px 0 0 0;
}

.citation-count__img {
  margin: -8px 5px 0 0;
}

.metric__block {
  border-bottom: 1px solid $shade-of-grey;
  padding-bottom: 6px;
  height: 32px;
}

.metric__block:empty {
  height: 0;
  padding: 0;
  border: none;
  margin: 0;
}

.ppp-container {
  margin-left: -8px !important;
}
