* {
  line-height: 1.7em;
  font-size: 18px;
  font-family: "Source Sans Pro", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Merriweather, serif;
  margin: 1em auto 0.5em;
  line-height: 1.45em;
}

p {
  margin-bottom: 2em;
}
