* {
  line-height: 1.5em;
  font-size: 1em;
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
  margin: 1em auto 0.5em;
  line-height: 1.45em;
}

.entry-content h1 {
  font-size: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000;
}

.entry-content h2 {
  font-size: 1.2em;
  font-weight: 500;
  color: $primary-color;
}

.entry-content h3 {
  font-size: 1.2em;
  font-weight: 500;
  color: #666;
}

p {
  margin-bottom: 2em;
}

.index-divider {
  text-align: center;
  border-bottom: 1px solid #ccc;
  width: 50%;
  margin: 0 auto 50px;
}

.index-divider::before {
  content: '▉▉';
  right: -11px;
  position: relative;
  top: 15px;
  background: #fff;
  color: #fff;
}

.home-index-divider {
  margin: 30px auto 50px;
}

.index-divider i {
  top: 13px;
  left: -17px;
  position: relative;
  color: #999;
}

.fade {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

.fade:hover {
  opacity: 0.75;
}

figcaption,
.figure-caption,
.wp-caption-text {
  font-size: 13px;
}

.caption-first-words {
  font-weight: 900;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
}

div#TB_window {
  padding-bottom: 22px;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
