* {
  line-height: 1.5em;
  font-size: 1em;
  font-family: $sans-serif;
}

.content > .main {
  margin-bottom: 40px;
}

a:hover {
  text-decoration-line: none;
  color: $secondary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif;
  margin: 1em auto 0.5em;
  line-height: 1.45em;
}

.entry-content h1 {
  font-size: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000;
}

.entry-content h2 {
  font-size: 1.2em;
  font-weight: 700;
}

.entry-content h3 {
  font-size: 1.2em;
  font-weight: 500;
  color: #666;
}

p {
  margin-bottom: 1.5em;
}

.index-divider {
  text-align: center;
  border-bottom: 1px solid #ccc;
  width: 50%;
  margin: 0 auto 50px;
}

.index-divider::before {
  content: '▉▉';
  right: -11px;
  position: relative;
  top: 15px;
  background: #fff;
  color: #fff;
}

.home-index-divider {
  margin: 80px auto 50px;
}

.index-divider i {
  top: 13px;
  left: -17px;
  position: relative;
  color: #999;
}

.archive .index-divider {
  margin: 50px auto 60px;
}

.sb-fade {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

.sb-fade:hover {
  opacity: 0.7;
  -webkit-backface-visibility: hidden;
}

figcaption,
.figure-caption,
.wp-caption-text {
  font-size: 13px;
}

.caption-first-words {
  font-weight: 900;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
}

div#TB_window {
  padding-bottom: 22px;
}

@media (max-width: 510px) {
  .nav-primary {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }

  .home-featured-h1 {
    line-height: 0.5 !important;
    width: 100% !important;
  }

  .home-featured-h1 a,
  .home-featured-h1 a:link {
    font-size: 18px !important;
  }
}

@media (max-width: 991px) {
  .hidden-md {
    display: none !important;
  }
}

@media screen {
  .print-only {
    display: none;
  }
}

svg.at-icon {
  fill: #aaa !important;
}

.sb-cover-image__img {
  -webkit-transition: margin $speed-super-fast; /* Safari */
  transition: margin $speed-super-fast;
}

.sb-cover-image__img--hover {
  margin-top: -8px;
  margin-bottom: 8px;
  -webkit-transition: margin $speed-super-fast; /* Safari */
  transition: margin $speed-super-fast;
}

.btn-square {
  background-color: #fff;
  color: #000;
  border: 2px solid #ccc;
  border-radius: 0;
}
